<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>My Tasks</h1>

<form method="POST" action="/add">
    <input type="text" name="description" placeholder="New task" required>

    <select name="priority" required>
        <option value="Low">Low</option>
        <option value="Medium" selected>Medium</option>
        <option value="High">High</option>
    </select>

    <button type="submit">Add Task</button>
</form>

{% if tasks %}
    <ul>
        {% for task in tasks %}
            <li>
                <span class="priority {{ task['priority'] | lower}}">
                    [{{ task["priority"] }}]
                </span>

                {{ task["description"] }}
                
                {% if task["completed"] %}
                    ✅
                {% else %}
                    ⏳
                    <form method="POST" action="/complete/{{ task['id'] }}" style="display:inline;">
                        <button type="submit">Complete</button>
                    </form>
                {% endif %}

                <form method="POST" action="/delete/{{ task['id'] }}" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>

                <button type ="button" onclick="toggleEdit('{{ task.id }}')">Edit</button>

                <form
                    id="edit-form-{{ task['id'] }}"
                    method="POST"
                    action="/edit/{{ task['id'] }}"
                    class="edit-form"
                >
                    <input 
                        type="text"
                        name="description"
                        value="{{ task['description'] }}"
                        required
                    >
                    <button type="submit">Save</button>
                </form>

                <!-- <form method="POST" action="/edit/{{ task['id'] }}" style="display: inline;">
                    <input
                        type="text"
                        name="description"
                        placeholder="Edit task"
                        required
                    >
                    <button type="submit">Edit</button>
                </form> -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tasks found.</p>
{% endif %}

<script>
    function toggleEdit(taskId) {
        const form = document.getElementById(`edit-form-${taskId}`);
        form.style.display =
            form.style.display === "none" || form.style.display === ""
                ? "inline-block"
                : "none";
    }
</script>

</body>
</html>